

body {
  background-image: url(background-7571878_1280.jpg);
}

h1 {
  color: black;
  text-align: center;
  font-size: 80px;
  font-family: brush script mt;
}

h2	{
	color:black;
	text-align: center;
	font-size: 68px;
  font-family: brush script mt;

}

p {
  font-family: verdana;
  font-size: 20px;
}